<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home!</title>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light"
        style="font-family: Georgia, 'Times New Roman', Times, serif;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="navbar-brand" href="#">
                            <img src="/images/logo1.svg" alt="" width="30" height="24"><span
                                style="color:rgb(187, 187, 7);font-size: 18pt;">बन</span><span
                                style="color:rgb(196, 8, 8);font-size: 16pt;">Social</span>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">बनSocial</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Explore
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/resources">Resources</a></li>
                            <li><a class="dropdown-item" href="/doubtini">Doubts Section</a></li>
                            <li><a class="dropdown-item" href="/ann">Announcements</a></li>
                            {{!-- <li><a class="dropdown-item" href="#">Notable Alumini</a></li>
                            <li><a class="dropdown-item" href="#">Journeys</a></li>
                            <li><a class="dropdown-item" href="#">Meet the Creators</a></li> --}}
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="mx-2">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <!-- <li>
                         <a class="navbar-brand" href="#">
                            <img src="./images/logo1.jpg" alt="" width="30" height="24">
                        </a> 
                    </li> -->
                    {{!-- {{#if name}} --}}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile" style="color: black;">{{userName}}</a>
                    </li>
                    {{!-- {{/if}} --}}
                    <li class="nav-item">
                        <a href="/logout" class="btn btn-dark">Log Out</a>
                        {{!-- <a class="nav-link" href="/logout"
                            style="text-decoration: none;color:rgb(218, 212, 212);background-color:rgb(23, 29, 29);border-radius: 5px">Log
                            Out</a> --}}
                        {{!-- <button type="submit" class="btn btn-dark">Log Out</button> --}}
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="margin-top:3rem ;">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                aria-label="Slide 6"></button>

        </div>
        <div class="carousel-inner">
            <div class="carousel-item active first">
                <img src="/images/finalbansocial.png" class="d-block w-100" alt="..." style="width:640px;height:512px;">
            </div>
            <div class="carousel-item">
                <img src="/images/image1.jpg" class="d-block w-100" alt="..." style="width:640px;height:512px">
                <div class="carousel-caption  d-md-block">
                    <h3 style="font-family:Georgia">RESOURCE PAGE</h3>
                    <h2 style="font-style: italic;">The one stop solution for university exams, internships and
                        placements prepration</h2>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/image2.jpg" class="d-block w-100" alt="..." style="width:640px;height:512px">
                <div class="carousel-caption  d-md-block">
                    <h3 style="font-family:Georgia">DOUBT PAGE</h3>
                    <h2 style="font-style: italic;">Clear your doubts with the help of your peers, seniors and teachers
                    </h2>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/image3.jpg" class="d-block w-100" alt="..." style="width:640px;height:512px">
                <div class="carousel-caption  d-md-block">
                    <h3 style="font-family:Georgia">ANNOUNCEMENTS PAGE</h3>
                    <h2 style="font-style: italic;">Never miss on important announcements here</h2>
                </div>
            </div>
             <div class="carousel-item">
                <img src="/images/image4.jpg" class="d-block w-100" alt="..." style="width:640px;height:512px">
                <div class="carousel-caption  d-md-block">
                    <h5>JOURNEY</h5>
                    <p>Some representative placeholder content for the fifth slide.</p>
                </div>
            </div>
            {{!-- <div class="carousel-item">
                <img src="/images/image5.jpg" class="d-block w-100" alt="..." style="width:640px;height:512px">
                <div class="carousel-caption  d-md-block">
                    <h5>NOTABLE ALUMNI</h5>
                    <p>Some representative placeholder content for the sixth slide.</p>
                </div>
            </div>  --}}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>
    <!-- <div class="has-bg-img">
        <img class="bg-img" src="./images/logo.png" alt="bg" style="width:100%;height:40vw;">
    </div> -->
    <div class="container" style="background: #ef233c;min-width: 100%;">
        <div class="row">
            <div class="col-sm-4 py-3">
                <div class="card">
                    <img src="/images/reso.jpg" class="card-img-top" alt="..." height="250">
                    <div class="card-body">
                        <h5 class="card-title">Resources</h5>
                        <p class="card-text">Get everything you need for university exams, internships and
                        placements prepration.</p>
                        <a href="/resources" class="btn btn-primary">See More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 py-3 ">
                <div class="card">
                    <img src="/images/doubt.jpg" class="card-img-top" alt="..." height="250">
                    <div class="card-body">
                        <h5 class="card-title">Doubts Section</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="/doubtini" class="btn btn-primary">See More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 py-3 ">
                <div class="card">
                    <img src="/images/ann.jpg" class="card-img-top" alt="..." height="250">
                    <div class="card-body">
                        <h5 class="card-title">Announcements</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="/ann" class="btn btn-primary">See More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 py-3 ">
                <div class="card">
                    <img src="/images/hangout.jpg" class="card-img-top" alt="..." height="250">
                    <div class="card-body">
                        <h5 class="card-title">Hangout Page</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="/hangout" class="btn btn-primary">See More</a>
                    </div>
                </div>
            </div>
             <div class="col-sm-4 py-3">
                <div class="card">
                    <img src="/images/album.jpg" class="card-img-top" alt="..." height="250">
                    <div class="card-body">
                        <h5 class="card-title">The Journey</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="/journey" class="btn btn-primary">See More</a>
                    </div>
                </div>
            </div>
            {{!-- <div class="col-sm-4 py-3 ">
                <div class="card">
                    <img src="/images/grad.jpg" class="card-img-top" alt="..." height="250">
                    <div class="card-body">
                        <h5 class="card-title">Notable Alumini</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">See More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 py-3 ">
                <div class="card">
                    <img src="/images/creator.jpg" class="card-img-top" alt="..." height="250">
                    <div class="card-body">
                        <h5 class="card-title">Meet the Creators</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">See More</a>
                    </div>
                </div>
            </div>  --}}
        </div>
    </div>
    <div class="contact-clean" id="contact">
        {{!-- <form>
            <h2 class="text-center">Contact us</h2>
            <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><textarea class="form-control" name="message" placeholder="Message"
                    rows="14"></textarea></div>
            <div class="form-group"><button class="btn btn-primary" type="submit">send </button></div>
        </form> --}}
        <h5 style="text-align:center;font-family:Georgia"> For any queries Contact us at - <span style="color:rgb(236, 236, 243)">tsachan03@gmail.com</span></h5>
    </div>
    <!-- Remove the container if you want to extend the Footer to full width. -->
    <footer class="text-center text-lg-start" style="background-color: #585454;">
        <div class="container d-flex justify-content-center py-3">
            <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                <i class="fa fa-instagram"></i>
            </button>
            <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                <i class="fa fa-linkedin"></i>
            </button>
            <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                <i class="fa fa-twitter"></i>
            </button>
        </div>

        <!-- Copyright -->
        <div class="text-center text-white p-2" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="#">BvSocial.com</a>
        </div>
        <!-- Copyright -->
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            jQuery.fn.carousel.Constructor.TRANSITION_DURATION = 2000; // 2 seconds
        });
    </script>


</body>

</html>