<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not allowed </title>
</head>
<body>
    <h2 style="background-color: rgb(166, 221, 221);">Teachers not allowed to view this for students privacy</h2>
</body>
</htmsl>