<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not allowed </title>
</head>
<body style="background:rgb(232, 211, 182)">
<div style="text-align:center">
    <img src="/images/hide.jpg"  style="height:95vh;width:80vh;">
</div>
</body>
</htmsl>