*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background: rgb(161, 69, 32);
}

.row{
    background: white;
    border-radius: 30px;
}
/* .img{
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;

} */
.btn1{
    border:none;
    outline: none;
    height: 50px;
    width:100%;
    background-color: rgb(167, 75, 58);
    color:white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background:white ;
    border:1px solid ;
    color:rgb(168, 61, 61) ;
}
@media only screen and (max-width: 990px) {
    section{
        width: 85%;
      
    } 
    .container{
        width: 100%;

    }   
    .imgg{
        display: none;
    }
}
@media only screen and (min-width: 991px) {
  
    .container{
        width: 75%;
    }   

}